a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 3rem;
}
.wrapper {
    max-width: 80vw;
    margin: 0 auto;
    display: block;
}
.main {
    cursor: pointer;
    font-size: 2rem;
}
.main:hover .slait__icon {
opacity: 1;
}
.item:hover .icon_X {
    transform: rotate(0deg);
    transition: 0.5s;
}
.slait {
    display: flex;
    flex-wrap: wrap;
}
.slait__row {
width: 100%;
display: flex;
justify-content: space-between;
}
.icon_X {
    padding: 0 0.5rem;
    transform: rotate(45deg);
    width: 2rem;
    transition: 0.5s;
}
.slait__text {
    line-height: 1.5;
}
.slait__icon {
opacity: 0;
}
.slait__img {
    display: block;
    margin: 0 auto;
    transform: scale(0%);
    transition: 0.5s;
    height: 0;
}
.image {
    max-width: 100%;
}
.item {
    padding: 0.3rem 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.item:hover .slait__img {
    transition: 0.5s;
    transform: scale(100%);
    display: block;
    height: 100%;
}

@media (max-width: 820px) {
    .main {
        font-size: 1.5rem;
    }
    .icon_X {
        width: 1.5rem;
    }
}

@media (max-width: 320px) {
    .main {
        font-size: 1rem;
    }
    .icon_X {
        width: 1rem;
    }
}